<div class="template_wrapper" id="tpl_home" ng-controller="splashController">
     <div class="image_box">
          <img src="images/logo/LCCs2016.png">
     </div>
     <div class="when_where">
          <div class="row when">
               <span class="col-xs-3"><strong>When:</strong></span>
               <span class="col-xs-6">7-8 June</span>
          </div>
          <div class="row where">
               <span class="col-xs-3"><strong>Where:</strong></span>
               <span class="col-xs-6">Narita (Tokyo)</span>
          </div>
     </div>
     <div class="intro_text">
          <p><strong><em>Bridging the gaps in awareness and helping create the conditions for a win-win in North Asian aviation and beyond.</em></strong></p>
     </div>
     <div class="agenda_gen">
          <div class="text_title"><strong>Agenda highlights:</strong></div>
          <ul class="list">
               <li><i class="fa fa-check" aria-hidden="true"></i>Full service and low cost airlines collaboration</li>
               <li><i class="fa fa-check" aria-hidden="true"></i>Greater connectivity and new itineraries delivered by clever technology</li>
               <li><i class="fa fa-check" aria-hidden="true"></i>North Asia aviation infrastructure investment: challenges and opportunities</li>
               <li><i class="fa fa-check" aria-hidden="true"></i>Passenger experience insights into the perfect trip</li>
               <li><i class="fa fa-check" aria-hidden="true"></i>Can low cost also deliver high quality passenger experience?</li>
          </ul>
     </div>
     <div class="align_center"><button class="register_btn btn btn-success">Register</button></div>
</div>
