<div id="splash">

<div class="cloud wrap"><img id="cloud_img" src="images/for_animation/cloud.png"><div>

 <!-- WAVE THE LOGO -->

 <div id="flag-horizontal"><img src="js/wave-a-flag/LCCs2016.png" width="300" height="100" alt=""/></div>
 <div id="flag-vertical"><img src="flag.png" width="274" height="367" alt=""/></div>
<!-- <div class="logo wrap"><img src="images/logo/LCCs2016.png"></div> -->

<img class="plane landing" src="images/for_animation/landing.png">
<img class="plane taking_off" src="images/for_animation/take-off.png">
<div class="airport wrap">
 <img src="images/for_animation/airport.png">
</div>
</div>